<div id="hero-download" class="container content">
  <div class="row">
    <header class="column one-half content hide-on-maxthon">
      <h1>{{ surf-the-web-heading[heading] <span>SURF THE WEB</span> <span>WITH NO ANNOYING ADS</span> }}</h1>
      <ul>
        <li>{{ surf-the-web-item-1[list item] Experience a cleaner, faster web and block annoying ads }}</li>
        <li>{{ surf-the-web-item-2[list item] Acceptable Ads are allowed by default to support websites <span class="small avoid-wrap">(<a href="acceptable-ads">learn more</a>) <sup>[<a href="#footnote">1</a>]</sup></span> }}</li>
        <li>{{ surf-the-web-item-3[list item] Adblock Plus is free and open source <span class="small">(<a href="https://www.gnu.org/licenses/gpl.html">GPLv3+</a>)</span> }}</li>
      </ul>
      <p id="hero-download-tos">
        {{ tos-short[terms of service] By clicking the button below, you agree to our <a href="terms">Terms of Use</a> }}
      </p>
      <? include install-button ?>
    </header>
    <header class="column one-half content show-on-maxthon">
      <h1>{{ abp-and-maxthon-heading[heading] ADBLOCK PLUS IS ALREADY PART OF YOUR MAXTHON BROWSER }}</h1>
      <p>{{ abp-and-maxthon-body Together, Maxthon and Adblock Plus allow you to experience a faster, cleaner web by eliminating annoying and malicious ads, disabling tracking and more. To help keep the web sustainable, support websites with <a href="https://acceptableads.com/">Acceptable Ads</a> (enabled by default). }}</p>
    </header>
    <aside class="column one-half">
      <div id="hero-download-video" class="video-parent">
        <a class="video-link" target="_blank" href="<? include hero-download-video-url ?>">
          <img class="video-thumbnail" src="/img/hero-video.jpg" srcset="/img/hero-video-2x.jpg 2x" alt="{{ video-alt-text[alt text] Introduction to Adblock Plus video thumbnail }}">
          <img class="video-play" src="/img/video-external.png" alt="{{ video-play-alt-text[alt text] Play Video }}">
        </a>
        <p class="video-disclaimer">
          {{ video-disclaimer Click to play this video. Please note that this video is hosted by YouTube. When this video is played, some personal data is transferred to YouTube. For more information, please review YouTube's <a href='https://www.google.com/intl/en/policies/privacy/' target='_blank'>privacy policy</a>. }}
        </p>
      </div>
    </aside>
  </div>
  <? include hero-download-conditional ?>
</div>
